/.vs/Neuro_BrainBit/DesignTimeBuild/.dtbcache.v2
/.vs/Neuro_BrainBit/FileContentIndex/166fce50-5bfe-48eb-9b43-4077a057689b.vsidx
/.vs/Neuro_BrainBit/FileContentIndex/4a1dd881-4fed-4c2d-a059-efe76a2a2733.vsidx
/.vs/Neuro_BrainBit/FileContentIndex/6936c5a9-3a96-47ec-a6ad-985b2b9ead2b.vsidx
/.vs/Neuro_BrainBit/FileContentIndex/af301681-1042-45cd-8d16-00412cfb4c96.vsidx
/.vs/Neuro_BrainBit/FileContentIndex/e0295525-41ca-45ff-b92f-9d9fe14f408e.vsidx
/.vs/Neuro_BrainBit/v17/.futdcache.v2
/.vs/Neuro_BrainBit/v17/.suo
/.vs/Neuro_BrainBit/v17/DocumentLayout.json
/.vs/ProjectEvaluation/neuro_brainbit.metadata.v8.bin
/.vs/ProjectEvaluation/neuro_brainbit.projects.v8.bin
/.vs/ProjectEvaluation/neuro_brainbit.strings.v8.bin
/Neuro_BrainBit/bin/*
/Neuro_BrainBit/obj/*